:root {
  --bg-color-backup: rgb(2, 0, 36);
  --bg-color-gradient: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(64, 9, 121, 1) 35%,
    rgba(207, 0, 255, 1) 100%
  );
  --primary-color: #1cca3f;
  --button-hover-clr: #169d31;
  --task-bg-color: rgba(255, 255, 255, 0.3);
  --primary-text: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: var(--bg-color-backup);
  background: var(--bg-color-gradient);
}

html,
body {
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
  height: 100%;
}
