:root {
  --bg-color: #f7f1f1;
  --primary-color: #ff6666;
  --item-bg-color: rgba(255, 255, 255, 0.1);
  --primary-text: #fff;
  /* --secondary-text: */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: var(--bg-color);
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
  height: 100%;
}
