:root {
  --bg-color: #f7f1f1;
  --primary-color: #1cca3f;
  --buton-hover-clr: #169d31;
  --task-bg-color: rgba(255, 255, 255, 0.3);
  --primary-text: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: var(--bg-color);
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
  height: 100%;
}
