.Todo {
  display: flex;
  margin: 0 -3rem 4px;
  padding: 1.1rem 3rem;
  justify-content: space-between;
  align-items: center;
  background: var(--task-bg-color);
}

.Todo > .actions {
  flex-shrink: 0;
  padding-left: 0.7em;
}

.Todo span {
  position: relative;
  transition: opacity 0.2s linear;
}

.Todo.done span {
  opacity: 0.6;
}

.Todo.done span:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -0.5rem;
  display: block;
  width: 0%;
  height: 1px;
  background: #fff;
  animation: strikeitem 0.3s ease-out 0s forwards;
}

@keyframes strikeitem {
  to {
    width: calc(100% + 1rem);
  }
}

.fas {
  cursor: pointer;
  color: var(--primary-text);
}

.fa-trash-alt {
  padding-left: 0.5em;
}
